.mainPhoto {
  max-height: 100%;
  max-width: 100%;
  min-width: 25%;
  min-height: 25%;
  aspect-ratio: auto;
  margin: auto;
  display: block;
}

.mainPhoto:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#gallery-slider-default-view {
  height: inherit;
  position: absolute;
  /* width: inherit; */
  z-index: 0;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}

.gallery-thumbnail-container {
  height: 9.3%;
  aspect-ratio: 1;
  outline: 1px solid black;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  margin: 0.5em;
}

.gallery-thumbnail-container:hover {
  cursor: pointer;
}

.gallery-arrow {
  filter: drop-shadow(0px 2px 2px #171717);
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.gallery-arrow:hover {
  cursor: pointer;
}

#gallery-modal {
  display: grid; /* Hidden by default */
  z-index: 2; /* Sit on top */
  width: 95vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  grid-template-rows: 5% 90% 5%;
  /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); Black w/ opacity */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.exit-button {
  display: grid;
  justify-content: end;
  align-content: center;
  padding: 1em;
  font-size: 2em;
}

.exit-button:hover {
  cursor: pointer;
}

.expanded-photo-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 5% 90% 5%;
}

.expanded-photo {
  max-height: 100%;
  max-width: 100%;
  min-width: 25%;
  min-height: 25%;
  aspect-ratio: auto;
  margin: auto;
  display: block;
}

.navigation-arrow-container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 1em;
  font-size: 1.5em;
}

.left {
  display: grid;
  justify-content: end;
}

.right {
  display: grid;
  justify-content: start;
}

.gallery-modal-arrow {
  cursor: pointer;
}