.mainPhoto {
  max-height: 100%;
  max-width: 100%;
  min-width: 25%;
  min-height: 25%;
  aspect-ratio: auto;
  margin: auto;
  display: block;
}

.mainPhoto:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#gallery-slider-default-view {
  height: inherit;
  position: absolute;
  /* width: inherit; */
  z-index: 999;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}

.gallery-thumbnail-container {
  height: 9.3%;
  aspect-ratio: 1;
  outline: 1px solid black;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  margin: 0.5em;
}

.gallery-thumbnail-container:hover {
  cursor: pointer;
}

.gallery-arrow {
  text-shadow: 2px 2px 8px #000000;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.gallery-arrow:hover {
  cursor: pointer;
}