#outfit-window {
  width: 1000px;
  height: 550px;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#product-card {
  width: 96%;
  height: 100%;
  border: 1px solid black;
  display: grid;
  /* margin: 2%; */
  grid-template-rows: 70% 30%;
}

#product-card-img {
  height: 100%;
  width: 100%;
  /* float: left; */
  overflow: hidden;
}

#image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#product-card-attribute {
  height: 100%;
  width: 100%;
}