.style-title {
  display: inline-block;
  padding-right: 0.5em;
  text-transform: uppercase;
}

.style-picker-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1.5em;
  width: 80%
}

.style-swatch-container {
  aspect-ratio: 1;
  position: relative;
}

.style-swatch {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.style-swatch img {
  min-width: 64px;
  min-height: 64px;
  object-fit: contain;
}

.style-swatch:hover {
  cursor: pointer;
}

#selected-style-check {
  z-index: 9;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  top: -5px;
  right: -5px;
  text-align: center;
  text-justify: center;
}