#ratedBar {
  width: 100%;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;

}
#star {
  flex: 1 1 auto;
  font-size: 1em;
}

#fullBar {
  height: 1em;
  background-color: rgba(109, 109, 109, 0.4);
  flex: 2 1 auto;
}

#count {
  flex: 1 1 auto;
  font-size: 1em;
}