#reviews {
 margin-top: 2em;
 margin-bottom: 2em;
 padding-top: 2em;
 display: block;
}

#content {
  width: auto;
  display: flex;

}
#leftColumn {
  padding-block-end: 1em;
  flex: 1 1 auto;
}

#rightColumn {
  padding-inline-start: 3em;
  flex: 1 1 auto;
}